.cart-container{
    width: 100%;
    padding: 5%;
}

.product-cart-row-titles{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    /* grid-template-rows: repeat(2, 1fr); */
    grid-column-gap: 50px;
    /* grid-row-gap: 25px;     */
    padding-left: 30px;
    padding-right: 30px; 
}

.product-cart-row-titles div{
    font-weight: bold;
    font-size: 1em;
}
.product-cart-container{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    /* grid-template-rows: repeat(2, 1fr); */
    grid-column-gap: 50px;
    grid-row-gap: 25px;
    margin-top: 20px;
    padding: 30px;
}

.cart-image-container img{
    width: 100px;
}

.product-quantity {
    display: flex;
    height: 30px;    
}

.product-quantity input{
    width: 80px;
    margin-right: 10px;
    margin-left: 10px;
}

.addBttn{
    height: 30px;
}
  