.product-container{
  
}

.product-card {
    width: 300px;
    align-items: center;
    min-height: 400px;
    height: 450px;
}

.card-image{
    width: 60%;
    max-height: 200px;
    padding: 15px;
}

.bttn-buy{
    margin-bottom: 20px;
    color: #fff;
    background-color: #545b62;
    border-color: #4e555b;
    width: 100px;
    border-radius: 10px;
}