.product-detail-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr) ;
    /* grid-template-rows: repeat(2, 1fr); */
    grid-column-gap: 0px;
    grid-row-gap: 25px;
    margin-top: 20px;
    padding: 80px;
}

.image-container img{
   height: 600px;
}

.title-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr) ;
    padding: 20px;
}

.category{
    color: orangered;
    font-size: 2em;
}

.description{
    width: 80%;
}

.price{
    padding: 20px;
    color: orangered;
    font-size: 2em;
}